@use './common.scss';

:root {
  background-color: #fff;

  --yg-icon-invert: invert(55%);
  --yg-strong-color: #dc5;
}

:root[class='dark'] {
  background-color: #2b2b45;

  --yg-icon-invert: invert(0%);
}

// 图标自动反色
.auto-icon-color {
  filter: var(--yg-icon-invert);
}
